body{
    background-color: black;
}

h1{
    color: black;
}

p{
    color: rgb(71, 56, 56);
  }

img {
    max-width: 100%;
}


hr#top_wood_bar{
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 2em;
    background-image: url("images/wood.jpg");
    margin-bottom: 0;
    border-bottom: solid;
}

.container{
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0em;
    margin-top: 0em;
    padding-bottom: 0;
    background: radial-gradient( #bcc4cc,  #1377b2);
}

.center_title{
    font-size:3em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    line-height: 150px;
    height: 150px;
}


.nav-bar-top{
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0em;
    margin-top: 0em;
    height: 3.5em;
    text-align:center;

    background: linear-gradient( to left top, #9e9797, #333334);
}

.number-text{
    color: darkgoldenrod;
}

.nav-bar-bottom{
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0;
    margin-top: 0;
    height: 3em;
    text-align:center;
    background-image:url("images/wood.jpg") ;
}




/*CITATION: https://stackoverflow.com/a/63137057*/
li{
    display: inline-block;
}

ul {
    margin-top: 0;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
  }

a:visited{
    color: white;
}

a:hover{
      color: mediumturquoise;
}

.white-backdrop{
    min-height: 100%;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    position: relative;
}

/***ABOUT ME*****/
/**CITATION: https://www.xspdf.com/resolution/60121056.html**/
.about_me_div{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
  
.about_me_pic {
    flex-basis: 100%;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 20px;
}
  
.about_me_body{
    font-size: 15px;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 30px;
}


/***PORTFOLIO*****/
.portfolio_div{
    flex-direction: row;
    display: flex;
    align-items:center;
    justify-content: center;
    overflow: auto;
}

.portfolio_body{
    margin-top: 40px;
    font-size: 20px;
    margin-left: 10px;
}


/***EDUCATION/WORK EXPERIENCE*****/
.education_div{
    flex-direction: row;
    display: flex;
    overflow: auto;
}

.education_pic{
    margin-top: 40px;
    flex-basis: 80%;
    padding-left: 40px;
    padding-right: 30px;
    margin-bottom: 8em;
    margin-right: 1em;
}

.education_body{
    margin-left: 15px;
    margin-bottom: 6em;
    font-size: 15px;
}

/**SIDE BAR**/
.side_bar{
    display: flex;
    float: right;
    text-align: left;
    margin-right: 1em;
    margin-top: 1em;
    flex-direction: column;
    border: 8em solid #efefef;
    background-color:#efefef;
    height: 63em;
    overflow: auto;
    margin-bottom: 3em;
}

.side_bar_text{
    font-size: 20px;
    text-align: left;
}

.programming{
    font-style: italic;
}

a.contact_links{
    color : #00f; 

}






















